
  * {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: bold;
}

.header {
    min-height: 100vh;
    width: 100%;
    background: url(images/hpage.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 1;
}

nav img {
    width: 117px;
    padding-left: 5px;
    opacity: .9;
    margin-bottom: 30px;
}

.navb {
    flex: 1;
    text-align: right;
}

.navb ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navb ul li a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
}

.navb ul li::after {
    content: '';
    width: 0;
    height: 2.5px;
    background: linear-gradient(to right, #FFA500, #ff105f);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navb ul li:hover::after {
    width: 100%;
    text-shadow: 0 8px 15px black;
}

.textb {
    width: 100%;
    color: azure;
    position: absolute;
    top: 30%;
    text-align: center;
    z-index: 0;
}

.headd {
    text-align: center;
    font-weight: 1000;
    font-size: 100px;
}

.abt {
    text-align: center;
    padding: 4%;
    white-space: nowrap;
    
   
    background-color: transparent;
     z-index: 1; 
    margin-top: 20px;
}

.textb h1 {
    font-size: 55px;
    color: #FFFF99;
    mix-blend-mode: screen;
    text-shadow: 0 5px 10px black;
}

.textb p {
    font-size: 24px;
    font-style: bold;
    color: #F5F5DC;
    text-shadow: 0 5px 10px black;
    margin-top: 40px;
}

.bbname {
    position: sticky;
    top: 0;
    padding: 43px 30px;
    background-color: transparent;
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px cornsilk;
    opacity: .9;
    text-shadow: 0 5px 10px black;
    cursor: pointer;
    margin-bottom: 30px;
}

nav .fa {
    display: none;
}

.heading {
    text-align: center;
    text-decoration: underline;
}

.spn span {
    margin-bottom: 10px;
    padding: 10px;
}

@media(max-width: 700px) {
    .textb h1 {
        font-size: 25px;
        color: white;
        mix-blend-mode: screen;
        text-shadow: 0 5px 10px black;
    }

    .textb p {
        font-size: 10px;
        font-style: bold;
        color: whitesmoke;
        margin: 10px 0 40px;
        text-shadow: 0 5px 10px black;
    }

    .navb ul li {
        display: block;
    }

    .navb {
        position: absolute;
        background: rgb(255, 16, 95);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        background: transparent;
        margin: 10px;
        cursor: pointer;
        font-size: 22px;
    }

    navb ul {
        padding: 30px;
    }
}